<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- ================== ARMS (DUMMY PLACEHOLDERS) ================== -->

  <link name="left_arm_link">
    <visual>
      <geometry>
        <box size="0.08 0.08 0.40"/>
      </geometry>
      <origin xyz="0 0 0.20"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.08 0.08 0.40"/>
      </geometry>
      <origin xyz="0 0 0.20"/>
    </collision>

    <xacro:box_inertial mass="1" x="0" y="0" z="-0.20"/>
  </link>

  <joint name="left_arm_joint" type="fixed">
    <parent link="torso_link"/>
    <child link="left_arm_link"/>
    <origin xyz="0 0.20 0.2"/>
  </joint>

  <link name="right_arm_link">
    <visual>
      <geometry>
        <box size="0.08 0.08 0.40"/>
      </geometry>
      <origin xyz="0 0 0.20"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.08 0.08 0.40"/>
      </geometry>
      <origin xyz="0 0 0.20"/>
    </collision>

    <xacro:box_inertial mass="1" x="0" y="0" z="0.20"/>

  </link>

  <joint name="right_arm_joint" type="fixed">
    <parent link="torso_link"/>
    <child link="right_arm_link"/>
    <origin xyz="0 -0.20 0.2"/>
  </joint>
</robot>
